:root {
    --black: #3d3d3d;
    --grey: #4b4b4b;
    --light-yellow: #fffa65;
    --yellow: #fff200;
    --light-red: #ff4d4d;
    --red: #ff3838;
    --light-purple: #cd84f1;
    --purple: #c56cf0;
    --light-blue: #18dcff;
    --blue: #17c0eb;
    --light-green:#32ff7e;
    --green: #3ae374;
    --light-gold: #ffaf40;
    --gold: #ff9f1a;
    --light-pink: #ffcccc;
    --pink: #ffb8b8;


}

@font-face {
    font-family: "Pistara";
    src: url("/fonts/Pistara.otf");

}

@font-face {
    font-family: "Sunset";
    src: url("/fonts/The-Sunset.ttf");
}



html, body {
    background: url('manos-gkikas-422953-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*background-color: papayawhip;*/
    color: white;
    letter-spacing: 3px;

}

h1 {
    font-family: Sunset;
    font-size: 25px;
    letter-spacing: 3px;
}

.movie-table {
    border: 3px solid var(--grey);
    background: var(--black);
}

.loading-gif {
    display: block;
    height: auto;
}

/* spacing for option widgets*/
i {
    margin: 10px;
}

.movie-table {
    font-family: Pistara;
    font-size: 25px;
    letter-spacing: 2px;
}

#card-image {
    /*background-size: cover;*/
}

.hidden {
    display: none;
}